html,
body {
 margin: 0;
 padding: 0;
 border: 0;
 outline: 0;
 font-size: 100%;
 font-family: sans-serif;
 vertical-align: baseline;
 background: transparent;
}

.background {
 width: 100vw;
 height: 100vh;
 margin: 0;
 background-color: #c3dbf2;
 position: relative;
}

.preview_section {
 position: relative;
 height: 55%;
 display: flex;
 flex-direction: column;
 align-items: center;
}

.website_view {
 width: 640px;
 height: 360px;
 background-color: white;
 margin: auto;
 border-radius: 0.5rem;
}

.url_input {
 width: 30%;
 height: 1.5rem;
 text-align: center;
 border-radius: 0.5rem;
}

::placeholder {
 font-weight: bold;
 opacity: 0.5;
 color: grey;
}

.console_section {
 display: flex;
 margin: auto;
 margin-top: 2rem;
 width: 90%;
 height: 30%;
 flex-direction: row;
 justify-content: space-between;
}

.input_section {
 width: 100%;
 display: flex;
 align-items: center;
 flex-direction: column;
}

.prompt_textarea {
 border-radius: 0.5rem;
 padding: 1rem;
}

.llm_section {
 width: 100%;
 height: 100%;
 display: flex;
 align-items: center;
 flex-direction: column;
 justify-content: space-between;
}

.llm_process {
 width: 100%;
 background-color: white;
 border-radius: 0.5rem;
 text-align: center;
 margin: auto;
}

.llm_answer {
 width: 100%;
 height: 100%;
 background-color: white;
 border-radius: 0.5rem;
 text-align: center;
 margin: auto;
 margin-top: 1rem;
}
